html {scroll-behavior: smooth;}

body {
  margin:0;
  background-color:transparent;
}

img {
  float: left;
}

.rotateimg270 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.centerright {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 18px;
}



